@tailwind base;
@tailwind components;
@tailwind utilities;

.ruby {
  display: ruby;
}

.rc-anchor-checkbox-label {
  background-color: rebeccapurple !important;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

html { scroll-behavior: smooth; }

fieldset{
  @apply !border !border-white-400
}